In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.utils import Sequence
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# X_train = np.load('/content/drive/MyDrive/x_train.npy')
# X_val = np.load('/content/drive/MyDrive/x_val.npy')
# y_train = np.load('/content/drive/MyDrive/y_train.npy')
# y_val = np.load('/content/drive/MyDrive/y_val.npy')

In [ ]:
# print(type(X_train))
# print(type(X_val))
# print(type(y_train))
# print(type(y_val))

## Data 2

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Fault_Detection Data/data2/Fault_detection_Data.csv')

<ipython-input-9-82ac54a418c9>:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Fault_Detection Data/Respirer_data/Fault_detection_Data.csv')

In [ ]:
df.head(25)

,Unnamed: 0,11,21,32,45,48,51,75,80,87,...,1563,1564,1565,1567,1568,1590,1605,1606,1608,1611
0,Deviceid,PM25_2CF4320E7588,PM25_500291FFF951,PM25_68C63AD3E695,PM25_2CF4328C5CEA,PM25_4C7525091C74,PM25_5002914AAF8A,PM25_4C752509213C,PM25_8CAAB57998BA,PM25_2CF4328C5A07,...,RH_84CCA8B2F2AA,RH_8CCE4ECB7102,RH_98F4ABC07412,RH_F4CFA2CEC397,RH_F4CFA2D380D3,RH_68C63AF3AA6F,RH_3083988F9126,RH_500291C0F7D2,RH_8CAAB50AD70C,RH_BCDDC247BFE3
1,District,ARWAL,AURANGABAD,BANKA,BEGUSARAI,BEGUSARAI,BEGUSARAI,BHOJPUR,BHOJPUR,BUXAR,...,SIWAN,SIWAN,SIWAN,SIWAN,SIWAN,VAISHALI,WCHAMPARAN,WCHAMPARAN,WCHAMPARAN,WCHAMPARAN
2,Block,KARPI,MADANPUR,KATORIA,BACHHWARA,BALIA,KHODAWANDPUR,KOILWAR,SANDESH,SIMRI,...,HUSSAINGANJ,ANDAR,GORIAKOTHI,MAIRWA,DARAUNDHA,MAHNAR,BAGAHA-I,CHANPATIA,NAUTAN.W,BHITAHA
3,latitude,25.168,24.655,24.743,25.57364082,25.422,25.671,25.579,25.408,25.638,...,26.144,26.101,26.264,26.236,26.084,25.621,27.10918045,26.94421271,26.71220016,26.89336014
4,longitude,84.735,84.588,86.728,85.89718628,86.309,86.031,84.791,84.74,84.114,...,84.324,84.291,84.606,84.153,84.459,85.489,84.07659912,84.537,84.48045349,84.13741302
5,Devicemfg,atmos,atmos,atmos,atmos,atmos,atmos,atmos,atmos,atmos,...,atmos,atmos,atmos,atmos,atmos,atmos,atmos,atmos,atmos,atmos
6,Remark,NILL,NILL,NILL,NILL,NILL,NILL,NILL,NILL,NILL,...,NILL,NILL,NILL,NILL,NILL,NILL,NILL,NILL,NILL,NILL
7,2023-05-01 00:00:00,53.6,46.516666666666666,40.24047619047619,NaN,NaN,49.15,NaN,12.683333333333334,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-05-01 01:00:00,53.83846153846154,46.9,41.27559523809524,NaN,NaN,49.746153846153845,NaN,9.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-05-01 02:00:00,53.36666666666667,46.42051282051282,39.88333333333333,NaN,NaN,48.91666666666666,NaN,8.323809523809524,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2023-05-01 03:00:00,50.266666666666666,42.833333333333336,37.8,NaN,NaN,44.95,NaN,7.348901098901098,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2023-05-01 04:00:00,50.62307692307692,44.67692307692308,37.40595238095238,NaN,NaN,46.766666666666666,NaN,6.266666666666667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2023-05-01 05:00:00,46.43333333333334,39.81666666666666,34.545833333333334,NaN,NaN,42.16666666666667,NaN,8.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2023-05-01 06:00:00,56.43333333333333,48.45,40.65,NaN,NaN,50.88461538461539,NaN,12.975641025641025,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2023-05-01 07:00:00,49.480769230769226,42.75128205128205,39.20238095238095,NaN,39.0,46.78333333333333,NaN,18.95,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2023-05-01 08:00:00,31.65,27.883333333333336,24.79047619047619,NaN,NaN,30.426923076923075,NaN,21.53333333333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2023-05-01 09:00:00,31.44166666666667,29.584615384615383,24.95641025641026,NaN,27.816666666666663,32.31666666666667,NaN,23.351282051282052,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2023-05-01 10:00:00,31.1,31.583333333333336,25.73333333333333,NaN,28.53333333333333,34.75,NaN,20.05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2023-05-01 11:00:00,34.766666666666666,33.55,28.217857142857135,NaN,29.81309523809524,36.746153846153845,NaN,11.166666666666666,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2023-05-01 12:00:00,30.553846153846155,31.21538461538461,23.378571428571423,NaN,27.554029304029307,35.06666666666667,NaN,9.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2023-05-01 13:00:00,28.98333333333333,21.366666666666664,21.264652014652015,NaN,19.416666666666664,24.633333333333333,NaN,6.716666666666667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2023-05-01 14:00:00,11.9,9.792307692307697,9.083333333333334,NaN,9.128571428571428,10.937500000000002,NaN,6.533333333333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2023-05-01 15:00:00,11.862820512820512,9.883333333333336,8.610714285714286,NaN,9.482142857142858,11.283333333333331,NaN,7.214102564102564,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2023-05-01 16:00:00,10.75,9.3,7.90989010989011,NaN,9.059432234432236,10.57307692307692,NaN,9.166666666666666,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2023-05-01 17:00:00,10.633333333333336,9.233333333333333,7.850000000000001,NaN,9.0,10.233333333333333,NaN,9.566666666666666,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns = df.iloc[0]
df = df.iloc[1:]
df.reset_index(drop=True, inplace=True)

In [ ]:
df = df.iloc[6:]

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df['Deviceid'] = pd.to_datetime(df['Deviceid'])
df.set_index('Deviceid', inplace=True)
# Removing values till july 1 (most nan)
df = df[df.index >= '2023-05-1']

In [ ]:
df

,PM25_2CF4320E7588,PM25_500291FFF951,PM25_68C63AD3E695,PM25_2CF4328C5CEA,PM25_4C7525091C74,PM25_5002914AAF8A,PM25_4C752509213C,PM25_8CAAB57998BA,PM25_2CF4328C5A07,PM25_B4E62D606E00,...,RH_84CCA8B2F2AA,RH_8CCE4ECB7102,RH_98F4ABC07412,RH_F4CFA2CEC397,RH_F4CFA2D380D3,RH_68C63AF3AA6F,RH_3083988F9126,RH_500291C0F7D2,RH_8CAAB50AD70C,RH_BCDDC247BFE3
Deviceid,,,,,,,,,,,,,,,,,,,,,
2023-05-01 00:00:00,53.6,46.516666666666666,40.24047619047619,NaN,NaN,49.15,NaN,12.683333333333334,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-01 01:00:00,53.83846153846154,46.9,41.27559523809524,NaN,NaN,49.746153846153845,NaN,9.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-01 02:00:00,53.36666666666667,46.42051282051282,39.88333333333333,NaN,NaN,48.91666666666666,NaN,8.323809523809524,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-01 03:00:00,50.266666666666666,42.833333333333336,37.8,NaN,NaN,44.95,NaN,7.348901098901098,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-01 04:00:00,50.62307692307692,44.67692307692308,37.40595238095238,NaN,NaN,46.766666666666666,NaN,6.266666666666667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-29 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.948333,NaN,28.446667,NaN,NaN,52.758333,NaN,NaN,NaN,NaN
2024-02-29 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.763333,NaN,30.118333,NaN,NaN,54.71,48.5,NaN,NaN,NaN
2024-02-29 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.693333,NaN,35.248333,NaN,NaN,55.274712,NaN,NaN,NaN,NaN
2024-02-29 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.298333,NaN,39.841667,NaN,NaN,60.945,NaN,NaN,NaN,NaN
2024-02-29 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.326667,NaN,42.27,NaN,NaN,63.068333,NaN,NaN,NaN,NaN

In [ ]:
df = df.astype(float)

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
column_to_retain = 'PM25_BCDDC247BFE3'
retained_columns = df.columns[df.columns.get_loc(column_to_retain):]
df_retained = df.loc[:, :column_to_retain]

In [ ]:
df = df_retained

In [ ]:
all_df = pd.concat([df[col] for col in df.columns ])
overall_stats = all_df.describe()
print(overall_stats)

count    439200.000000
mean         12.417611
std          42.963702
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         749.919231
dtype: float64

In [ ]:
all_df.quantile(0.99)

239.28333333333333

In [ ]:
def split_dataframe(df, test_size=0.2, random_state=None):
    df_transposed = df.transpose()
    train_df, test_df = train_test_split(df_transposed, test_size=test_size, random_state=random_state)
    train_df = train_df.transpose()
    test_df = test_df.transpose()
    return train_df, test_df

In [ ]:
def target_l(pm25, threshold):
    y = pd.DataFrame(index=pm25.index, columns=pm25.columns)
    for column in pm25.columns:
        y[column] = ((pm25[column] > 0) & (pm25[column] < threshold)).astype(int)
    return y

In [ ]:
train_DF, test_DF = split_dataframe(df, test_size=0.2, random_state=42)

In [ ]:
train_DF.shape, test_DF.shape

((7320, 48), (7320, 12))

In [ ]:
threshold = all_df.quantile(1)
y1 = target_l(train_DF, threshold)
ytr = target_l(test_DF, threshold)

In [ ]:
all_counts = y1.stack().value_counts()
print(all_counts)

0    271404
1     79956
Name: count, dtype: int64

## Data

In [ ]:
pm25 = pd.read_csv('/content/drive/MyDrive/Fault_Detection Data/data/faulty_devices_data_PM25.csv')

In [ ]:
pm25.fillna(0,inplace=True)

In [ ]:
pm25

,Unnamed: 0,1201230029_pm_25,1201230052_pm_25,1212220153_pm_25,1201230074_pm_25,1201230034_pm_25,1211220016_pm_25,1212220155_pm_25,1211220119_pm_25,1212220137_pm_25,...,1203230034_pm_25,1203230061_pm_25,1212220164_pm_25,1201230032_pm_25,1212220043_pm_25,1212220050_pm_25,1211220002_pm_25,1212220019_pm_25,1210220013_pm_25,1211220089_pm_25
0,2023-03-24 17:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-03-24 17:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-03-24 18:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-03-24 18:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-03-24 19:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15899,2024-02-19 07:30:00,201.0,0.0,192.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,234.0,315.0,0.0,0.0,284.0,0.0,0.0
15900,2024-02-19 08:00:00,142.0,0.0,183.0,0.0,0.0,0.0,0.0,0.0,0.0,...,142.0,0.0,0.0,164.0,269.0,0.0,0.0,244.0,0.0,0.0
15901,2024-02-19 08:30:00,127.0,0.0,170.0,0.0,0.0,0.0,0.0,0.0,0.0,...,115.0,0.0,0.0,127.0,227.0,0.0,0.0,187.0,0.0,0.0
15902,2024-02-19 09:00:00,116.0,0.0,153.0,0.0,0.0,0.0,0.0,0.0,0.0,...,88.0,0.0,0.0,96.0,180.0,0.0,0.0,154.0,0.0,0.0
15903,2024-02-19 09:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,85.0,0.0,0.0,93.0,125.0,0.0,0.0,125.0,0.0,0.0

In [ ]:
pm25.columns

Index(['Unnamed: 0', '1201230029_pm_25', '1201230052_pm_25',
       '1212220153_pm_25', '1201230074_pm_25', '1201230034_pm_25',
       '1211220016_pm_25', '1212220155_pm_25', '1211220119_pm_25',
       '1212220137_pm_25',
       ...
       '1203230034_pm_25', '1203230061_pm_25', '1212220164_pm_25',
       '1201230032_pm_25', '1212220043_pm_25', '1212220050_pm_25',
       '1211220002_pm_25', '1212220019_pm_25', '1210220013_pm_25',
       '1211220089_pm_25'],
      dtype='object', length=107)

In [ ]:
pm25['Unnamed: 0'] = pd.to_datetime(pm25['Unnamed: 0'])
pm25.set_index('Unnamed: 0', inplace=True)
pm25 = pm25[pm25.index >= '2023-05-1']

In [ ]:
pm25.shape

(14132, 106)

In [ ]:
#overall statistics
all_data = pd.concat([pm25[col] for col in pm25.columns ])
overall_stats = all_data.describe()
print(overall_stats)

count    1.497992e+06
mean     4.007151e+01
std      9.829679e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.800000e+01
max      4.002000e+03
dtype: float64

In [ ]:
max_column = pm25.max().idxmax()
print("Column with max value:", max_column)

Column with max value: 1203230054_pm_25

In [ ]:
#to get 99 percentile
all_data.quantile(0.99)

461.0

In [ ]:
train_PM25, test_PM25 = split_dataframe(pm25, test_size=0.2, random_state=42)

In [ ]:
train_PM25.shape,test_PM25.shape

((14132, 84), (14132, 22))

In [ ]:
threshold = all_data.quantile(1)
y = target_l(train_PM25, threshold)
yta = target_l(test_PM25, threshold)

In [ ]:
all_counts = y.stack().value_counts()
print(all_counts)

0    709071
1    478017
Name: count, dtype: int64

# New Data

In [ ]:
import tensorflow as tf

In [ ]:
tf.__version__

'2.15.0'

In [ ]:
!pip install tfts

Collecting tfts
  Downloading tfts-0.0.10-py3-none-any.whl (50 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 51.0/51.0 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from tfts) (3.7.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tfts) (1.25.2)
Collecting optuna<3.0.0,>=2.3.0 (from tfts)
  Downloading optuna-2.10.1-py3-none-any.whl (308 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 308.2/308.2 kB 9.8 MB/s eta 0:00:00
Collecting pandas<2.0.0,>=1.2.0 (from tfts)
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 12.1/12.1 MB 57.4 MB/s eta 0:00:00
Collecting alembic (from optuna<3.0.0,>=2.3.0->tfts)
  Downloading alembic-1.13.2-py3-none-any.whl (232 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 233.0/233.0 kB 30.1 MB/s eta 0:00:00
Collecting cliff (from optuna<3.0.0,>=2.3.0->tfts)
  Downloading cliff-4.7.0-py3-none-any.whl (81 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 81.2/81.2 kB 10.0 MB/s eta 0:00:00
Collecting cmaes>=0.8.2 (from optuna<3.0.0,>=2.3.0->tfts)
  Downloading cmaes-0.10.0-py3-none-any.whl (29 kB)
Collecting colorlog (from optuna<3.0.0,>=2.3.0->tfts)
  Downloading colorlog-6.8.2-py3-none-any.whl (11 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna<3.0.0,>=2.3.0->tfts) (24.1)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.10/dist-packages (from optuna<3.0.0,>=2.3.0->tfts) (1.11.4)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from optuna<3.0.0,>=2.3.0->tfts) (2.0.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna<3.0.0,>=2.3.0->tfts) (4.66.4)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna<3.0.0,>=2.3.0->tfts) (6.0.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.2.0->tfts) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.2.0->tfts) (2023.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->tfts) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->tfts) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->tfts) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->tfts) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->tfts) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->tfts) (3.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.2.0->tfts) (1.16.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.1.0->optuna<3.0.0,>=2.3.0->tfts) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.1.0->optuna<3.0.0,>=2.3.0->tfts) (3.0.3)
Collecting Mako (from alembic->optuna<3.0.0,>=2.3.0->tfts)
  Downloading Mako-1.3.5-py3-none-any.whl (78 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 78.6/78.6 kB 9.8 MB/s eta 0:00:00
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.10/dist-packages (from cliff->optuna<3.0.0,>=2.3.0->tfts) (3.10.0)
Collecting autopage>=0.4.0 (from cliff->optuna<3.0.0,>=2.3.0->tfts)
  Downloading autopage-0.5.2-py3-none-any.whl (30 kB)
Collecting cmd2>=1.0.0 (from cliff->optuna<3.0.0,>=2.3.0->tfts)
  Downloading cmd2-2.4.3-py3-none-any.whl (147 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 147.2/147.2 kB 17.3 MB/s eta 0:00:00
Collecting stevedore>=2.0.1 (from cliff->optuna<3.0.0,>=2.3.0->tfts)
  Downloading stevedore-5.2.0-py3-none-any.whl (49 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 49.7/49.7 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.10/dist-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.3.0->tfts) (23.2.0)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.10/dist-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.3.0->tfts) (1.9.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.10/dist-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.3.0->tfts) (0.2.13)
Collecting pbr!=2.1.0,>=2.0.0 (from stevedore>=2.0.1->cliff->optuna<3.0.0,>=2.3.0->tfts)
  Downloading pbr-6.0.0-py2.py3-none-any.whl (107 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 107.5/107.5 kB 13.8 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic->optuna<3.0.0,>=2.3.0->tfts) (2.1.5)
Installing collected packages: pbr, Mako, colorlog, cmd2, cmaes, autopage, stevedore, pandas, alembic, cliff, optuna, tfts
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pandas<2.2.2dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
google-colab 1.0.0 requires pandas==2.0.3, but you have pandas 1.5.3 which is incompatible.
Successfully installed Mako-1.3.5 alembic-1.13.2 autopage-0.5.2 cliff-4.7.0 cmaes-0.10.0 cmd2-2.4.3 colorlog-6.8.2 optuna-2.10.1 pandas-1.5.3 pbr-6.0.0 stevedore-5.2.0 tfts-0.0.10

In [ ]:
import os
import random
import tensorflow as tf
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

import tfts
from tfts import AutoConfig, AutoModel, KerasTrainer

%matplotlib inline

In [ ]:
import tensorflow as tf

In [ ]:
def data_respirer(d, y_df, steps):
    num_columns = len(d.columns)
    X = np.zeros((num_columns, len(d) - steps, steps))
    y = np.zeros((num_columns, len(d) - steps, 7))

    for idx, col in enumerate(d.columns):
        for i in range(len(d) - steps):
            end_ix = i + steps
            X[idx, i, :] = d[col][i:end_ix].values
            if end_ix < len(y_df):
                y[idx, i, 0] = y_df[col][end_ix]
            if end_ix + 24 < len(y_df):
                y[idx, i, 1] = y_df[col][end_ix + 24]
            if end_ix + 48 < len(y_df):
                y[idx, i, 2] = y_df[col][end_ix + 48]
            if end_ix + 72 < len(y_df):
                y[idx, i, 3] = y_df[col][end_ix + 72]
            if end_ix + 96 < len(y_df):
                y[idx, i, 4] = y_df[col][end_ix + 96]
            if end_ix + 120 < len(y_df):
                y[idx, i, 5] = y_df[col][end_ix + 120]
            if end_ix + 144 < len(y_df):
                y[idx, i, 6] = y_df[col][end_ix + 144]

    return X, y

In [ ]:
def data_data(df, y_df, steps):
    num_columns = len(df.columns)
    X = np.zeros((num_columns, (len(df) - steps) // 2, steps // 2))
    y = np.zeros((num_columns, (len(df) - steps) // 2, 7))

    for idx, col in enumerate(df.columns):
        for i in range(0, len(df) - steps, 2):
            end_ix = i + steps
            X[idx, i // 2, :] = df[col][i:end_ix:2].values
            if end_ix < len(y_df):
                y[idx, i // 2, 0] = y_df[col][end_ix]
            if end_ix + 48 < len(y_df):
                y[idx, i // 2, 1] = y_df[col][end_ix + 48]
            if end_ix + 96 < len(y_df):
                y[idx, i // 2, 2] = y_df[col][end_ix + 96]
            if end_ix + 144 < len(y_df):
                y[idx, i // 2, 3] = y_df[col][end_ix + 144]
            if end_ix + 192 < len(y_df):
                y[idx, i // 2, 4] = y_df[col][end_ix + 192]
            if end_ix + 240 < len(y_df):
                y[idx, i // 2, 5] = y_df[col][end_ix + 240]
            if end_ix + 288 < len(y_df):
                y[idx, i // 2, 6] = y_df[col][end_ix + 288]


    return X, y

In [ ]:
def data_UP(df, y_df, steps):
    num_columns = len(df.columns)
    X = np.zeros((num_columns, (len(df) - steps) // 4, steps // 4))
    y = np.zeros((num_columns, (len(df) - steps) // 4, 7))

    for idx, col in enumerate(df.columns):
        for i in range(0, len(df) - steps, 4):
            end_ix = i + steps
            X[idx, i // 4, :] = df[col][i:end_ix:4].values
            if end_ix < len(y_df):
                y[idx, i // 4, 0] = y_df[col][end_ix]
            if end_ix + 48*2 < len(y_df):
                y[idx, i // 4, 1] = y_df[col][end_ix + 48*2]
            if end_ix + 96*2 < len(y_df):
                y[idx, i // 4, 2] = y_df[col][end_ix + 96*2]
            if end_ix + 144*2 < len(y_df):
                y[idx, i // 4, 3] = y_df[col][end_ix + 144*2]
            if end_ix + 192*2 < len(y_df):
                y[idx, i // 4, 4] = y_df[col][end_ix + 192*2]
            if end_ix + 240*2 < len(y_df):
                y[idx, i // 4, 5] = y_df[col][end_ix + 240*2]
            if end_ix + 288*2 < len(y_df):
                y[idx, i // 4, 6] = y_df[col][end_ix + 288*2]


    return X, y

In [ ]:
xa,ya = data_data(train_PM25,y,1440)

In [ ]:
len(ya)

84

In [ ]:
xr,yr = data_respirer(train_DF,y1,720)

In [ ]:
# xb,yb = data_respirer(d1,y2,720)

In [ ]:
# xu,yu = data_UP(d2,y3,720*4)

In [ ]:
xat,yat = data_data1(test_PM25,yta,720*2)
xrt,yrt = data_data2(test_DF,ytr,720)

In [ ]:
xr_ = np.reshape(xr, (xr.shape[0]*xr.shape[1],xr.shape[2]))
yr_ = np.reshape(yr, (yr.shape[0]*yr.shape[1],yr.shape[2]))
xa_ = np.reshape(xa, (xa.shape[0]*xa.shape[1],xa.shape[2]))
ya_ = np.reshape(ya, (ya.shape[0]*ya.shape[1],ya.shape[2]))
##############

In [ ]:
len(ya_)

533064

In [ ]:
# xu_ = np.reshape(xu, (xu.shape[0]*xu.shape[1],xu.shape[2]))
# yu_ = np.reshape(yu, (yu.shape[0]*yu.shape[1],yu.shape[2]))
# xb_ = np.reshape(xb, (xb.shape[0]*xb.shape[1],xb.shape[2]))
# yb_ = np.reshape(yb, (yb.shape[0]*yb.shape[1],yb.shape[2]))

In [ ]:
xrt_ = np.reshape(xat, (xat.shape[0]*xat.shape[1],xat.shape[2]))
yrt_ = np.reshape(yat, (yat.shape[0]*yat.shape[1],yat.shape[2]))
xat_ = np.reshape(xrt, (xrt.shape[0]*xrt.shape[1],xrt.shape[2]))
yat_ = np.reshape(yrt, (yrt.shape[0]*yrt.shape[1],yrt.shape[2]))

In [ ]:
print(xr.shape, yr.shape)
print(xr_.shape, yr_.shape)
print(xa.shape, ya.shape)
print(xa_.shape, ya_.shape)
# ###########
# print(xu.shape, yu.shape)
# print(xu_.shape, yu_.shape)
# print(xb.shape, yb.shape)
# print(xb_.shape, yb_.shape)

(48, 6600, 720) (48, 6600, 7)
(316800, 720) (316800, 7)
(84, 6346, 720) (84, 6346, 7)
(533064, 720) (533064, 7)

In [ ]:
print(xrt.shape, yrt.shape)
print(xrt_.shape, yrt_.shape)
print(xat.shape, yat.shape)
print(xat_.shape, yat_.shape)

(12, 6600, 720) (12, 6600, 7)
(139612, 720) (139612, 7)
(22, 6346, 720) (22, 6346, 7)
(79200, 720) (79200, 7)

In [ ]:
def optimized_check_z(xu_):
    # Finding all zero positions
    zeros = (xu_ == 0)
    results = np.all(zeros, axis=1)  # Check if all elements in a row are zero

    return results

In [ ]:
t = np.array([[1,1,1]])
re = optimized_check_z(t)
print(re)

[False]

In [ ]:
zero_rows = optimized_check_z(xr_)
x_r = xr_[~zero_rows]
y_r = yr_[~zero_rows]

print("Filtered shape:", x_r.shape)
print("Filtered shape:", y_r.shape)

Filtered shape: (146810, 720)
Filtered shape: (146810, 7)

In [ ]:
del zero_rows

In [ ]:
zero_rows = optimized_check_z(xa_)
x_a = xa_[~zero_rows]
y_a = ya_[~zero_rows]

print("Filtered x(data) shape:", x_a.shape)
print("Filtered y(target) shape:", y_a.shape)

Filtered x(data) shape: (313138, 720)
Filtered y(target) shape: (313138, 7)

In [ ]:
del zero_rows

In [ ]:
zero_rows = optimized_check_z(xrt_)
x_rt = xrt_[~zero_rows]
y_rt = yrt_[~zero_rows]

print("Filtered x(data) shape:", x_rt.shape)
print("Filtered y(target) shape:", y_rt.shape)

Filtered x(data) shape: (87312, 720)
Filtered y(target) shape: (87312, 7)

In [ ]:
del zero_rows

In [ ]:
zero_rows = optimized_check_z(xat_)
x_at = xat_[~zero_rows]
y_at = yat_[~zero_rows]

print("Filtered x(data) shape:", x_at.shape)
print("Filtered y(target) shape:", y_at.shape)

Filtered x(data) shape: (42560, 720)
Filtered y(target) shape: (42560, 7)

In [ ]:
del zero_rows

In [ ]:
def optimized_check_2d(arr):
    result = []
    for row in arr:
        last_non_zero_index = -1

        # Finding the index of the last non-zero element in the row
        for i in range(len(row) - 1, -1, -1):
            if row[i] != 0:
                last_non_zero_index = i
                break

        # If no non-zero element is found, append False
        if last_non_zero_index == -1:
            result.append(False)
            continue

        # Check if there are zeros after the last non-zero element in the row
        zeros_after = any(row[j] == 0 for j in range(last_non_zero_index + 1, len(row)))
        result.append(zeros_after)

    return result

In [ ]:
zero_rows = np.array(optimized_check_2d(x_r))
x_r = x_r[~zero_rows]
y_r = y_r[~zero_rows]

print("Filtered shape:", x_r.shape)
print("Filtered shape:", y_r.shape)

Filtered shape: (62058, 720)
Filtered shape: (62058, 7)

In [ ]:
zero_rows = np.array(optimized_check_2d(x_a))
x_a = x_a[~zero_rows]
y_a = y_a[~zero_rows]

print("Filtered shape:", x_a.shape)
print("Filtered shape:", y_a.shape)

Filtered shape: (231811, 720)
Filtered shape: (231811, 7)

In [ ]:
zero_rows = np.array(optimized_check_2d(x_at))
x_at = x_at[~zero_rows]
y_at = y_at[~zero_rows]

print("Filtered shape:", x_at.shape)
print("Filtered shape:", y_at.shape)

Filtered shape: (21399, 720)
Filtered shape: (21399, 7)

In [ ]:
zero_rows = np.array(optimized_check_2d(x_rt))
x_rt = x_rt[~zero_rows]
y_rt = y_rt[~zero_rows]

print("Filtered shape:", x_rt.shape)
print("Filtered shape:", y_rt.shape)

Filtered shape: (63091, 720)
Filtered shape: (63091, 7)

In [ ]:
def optimized_check(xu_):
    # Finding all zero positions
    zeros = (xu_ == 0)
    results = np.any(zeros[:, :-1] & (xu_[:, 1:] != 0), axis=1)

    return results

In [ ]:
t = np.array([[0,1,1]])
p = optimized_check(t)
print(p)

[ True]

In [ ]:
zero_rows = np.array(optimized_check(y_r))
x_r = x_r[~zero_rows]
y_r = y_r[~zero_rows]

print("Filtered shape:", x_r.shape)
print("Filtered shape:", y_r.shape)

Filtered shape: (50847, 720)
Filtered shape: (50847, 7)

In [ ]:
zero_rows = np.array(optimized_check(y_a))
x_a = x_a[~zero_rows]
y_a = y_a[~zero_rows]

print("Filtered shape:", x_a.shape)
print("Filtered shape:", y_a.shape)

Filtered shape: (214134, 720)
Filtered shape: (214134, 7)

In [ ]:
zero_rows = np.array(optimized_check(y_at))
x_at = x_at[~zero_rows]
y_at = y_at[~zero_rows]

print("Filtered shape:", x_at.shape)
print("Filtered shape:", y_at.shape)

Filtered shape: (19131, 720)
Filtered shape: (19131, 7)

In [ ]:
zero_rows = np.array(optimized_check(y_rt))
x_rt = x_rt[~zero_rows]
y_rt = y_rt[~zero_rows]

print("Filtered shape:", x_rt.shape)
print("Filtered shape:", y_rt.shape)

Filtered shape: (59739, 720)
Filtered shape: (59739, 7)

In [ ]:
print(xr1.shape, yr1.shape)
print(xa1.shape, ya1.shape)
##############
# print(xu1.shape, yu1.shape)
# print(xb1.shape, yb1.shape)

(50847, 720, 1) (50847, 7, 1)
(214134, 720, 1) (214134, 7, 1)

In [ ]:
print(xrtt.shape, yrtt.shape)
print(xatt.shape, yatt.shape)

(59739, 720, 1) (59739, 7, 1)
(19131, 720, 1) (19131, 7, 1)

In [ ]:
def count_0_1(y):
    count_0 = np.sum(y == 0)
    count_1 = np.sum(y == 1)
    return count_0, count_1

In [ ]:
w,q = count_0_1(yr1)
print(w,q)
w,q = count_0_1(ya1)
print(w,q)
# w,q = count_0_1(yu1)
# print(w,q)
# w,q = count_0_1(yb1)
# print(w,q)

46086 309843
65327 1433611

In [ ]:
combined_x = np.concatenate((xr1, xa1), axis=0)
combined_y = np.concatenate((yr1, ya1), axis=0)
print("Combined X shape:", combined_x.shape)
print("Combined Y shape:", combined_y.shape)

Combined X shape: (264981, 720, 1)
Combined Y shape: (264981, 7, 1)

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(xa1,ya1, test_size=0.3, random_state=1)

In [ ]:
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(149893, 720, 1) (64241, 720, 1) (149893, 7, 1) (64241, 7, 1)

In [ ]:
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(149893, 720, 1) (64241, 720, 1) (149893, 7, 1) (64241, 7, 1)

In [ ]:
def bf(y_data):
  class_0_indices = np.where((y_data == 0).all(axis=1))[0]
  print(f"Number of class_0 : {len(class_0_indices)}")
  class_1_indices = np.where((y_data == 1).all(axis=1))[0]
  print(f"Number of class_1 : {len(class_1_indices)}")
  mixed_class_indices = np.where((y_data != 0).any(axis=1) & (y_data != 1).any(axis=1))[0]
  print(f"Number of class_1_0 : {len(mixed_class_indices)}")
bf(y_train)

Number of class_0 : 453
Number of class_1 : 136786
Number of class_1_0 : 12654

In [ ]:
class Batches(Sequence):

    def __init__(self, x_data, y_data, batch_size=32):

        self.x_data = x_data
        self.y_data = y_data
        self.batch_size = batch_size
        self.class_distribution = y_data.sum(axis=0)
        self.num_zeros = np.sum(y_data == 0)
        self.num_ones = np.sum(y_data == 1)

    def __getitem__(self, index):

        num_class_0 = int(self.batch_size * 0.33)
        num_class_1 = int(self.batch_size * 0.33)

        # Sample data for class 0
        class_0_indices = np.where((self.y_data == 0).all(axis=1))[0]
        #print(len(class_0_indices))
        print(f"length of self.ydata is {len(self.y_data)}")
        print(f"num_class_0 is {num_class_0} whereas class_0_indices have length {len(class_0_indices)}")

        batch_indices_0 = np.random.choice(class_0_indices, size=num_class_0, replace=False)
        #//print(len)
        # Sample data for class 1
        class_1_indices = np.where((self.y_data == 1).all(axis=1))[0]
       # //print(len(class_1_indices))
        batch_indices_1 = np.random.choice(class_1_indices, size=num_class_1, replace=False)


        mixed_class_indices = np.where((self.y_data != 0).any(axis=1) & (self.y_data != 1).any(axis=1))[0]
        num_mixed_samples = self.batch_size - len(batch_indices_0) - len(batch_indices_1)
        batch_indices_mixed = np.random.choice(mixed_class_indices, size=num_mixed_samples, replace=False)

        # Combine indices for all classes
        batch_indices = np.concatenate((batch_indices_0, batch_indices_1, batch_indices_mixed))
        np.random.shuffle(batch_indices)

        batch_x = self.x_data[batch_indices]
        batch_y = self.y_data[batch_indices]

        return batch_x, batch_y

    def __len__(self):
        return len(self.x_data) // self.batch_size

In [ ]:
train_bth = Batches(X_train, y_train, batch_size=64)
val_bth = Batches(X_val, y_val, batch_size=64)

In [ ]:
ew,er = train_bth[0]
print(ew.shape, er.shape)

In [ ]:
w,q = count_0_1(er)
print(w,q)

214 234

In [ ]:
len(ya1)

214134

In [ ]:
from tensorflow.keras.layers import Dense, Input

In [ ]:
inputs = tf.keras.Input(shape=(720, 1))
backbone = AutoModel("wavenet", predict_length=7)(inputs)
sigmoid_output = tf.keras.layers.Dense(1, activation='sigmoid')(backbone)
model = tf.keras.Model(inputs=inputs, outputs=sigmoid_output)

In [ ]:
model.compile(loss=tf.keras.losses.BinaryCrossentropy(), optimizer=tf.keras.optimizers.Adam(),metrics = ['accuracy'])

In [ ]:
history = model.fit(train_bth,
          epochs = 10,
          validation_data=val_bth, batch_size = 64)

length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
Epoch 1/10
length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   1/2342 [..............................] - ETA: 4:11 - loss: 0.5398 - accuracy: 0.7143length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   2/2342 [..............................] - ETA: 2:49 - loss: 0.5159 - accuracy: 0.7344length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   3/2342 [..............................] - ETA: 2:50 - loss: 0.5186 - accuracy: 0.7329length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   4/2342 [..............................] - ETA: 2:48 - loss: 0.5236 - accuracy: 0.7232length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   5/2342 [..............................] - ETA: 2:50 - loss: 0.5401 - accuracy: 0.7165length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   6/2342 [..............................] - ETA: 2:50 - loss: 0.5394 - accuracy: 0.7184length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   7/2342 [..............................] - ETA: 2:52 - loss: 0.5353 - accuracy: 0.7188length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   8/2342 [..............................] - ETA: 2:53 - loss: 0.5282 - accuracy: 0.7182length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
   9/2342 [..............................] - ETA: 2:53 - loss: 0.5272 - accuracy: 0.7180length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  10/2342 [..............................] - ETA: 2:55 - loss: 0.5264 - accuracy: 0.7183length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  11/2342 [..............................] - ETA: 2:55 - loss: 0.5287 - accuracy: 0.7159length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  12/2342 [..............................] - ETA: 2:56 - loss: 0.5211 - accuracy: 0.7212length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  13/2342 [..............................] - ETA: 2:58 - loss: 0.5185 - accuracy: 0.7234length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  14/2342 [..............................] - ETA: 3:00 - loss: 0.5194 - accuracy: 0.7221length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  15/2342 [..............................] - ETA: 3:01 - loss: 0.5160 - accuracy: 0.7235length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  16/2342 [..............................] - ETA: 3:03 - loss: 0.5172 - accuracy: 0.7211length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  17/2342 [..............................] - ETA: 3:05 - loss: 0.5168 - accuracy: 0.7206length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  18/2342 [..............................] - ETA: 3:05 - loss: 0.5153 - accuracy: 0.7221length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  19/2342 [..............................] - ETA: 3:06 - loss: 0.5145 - accuracy: 0.7227length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  20/2342 [..............................] - ETA: 3:05 - loss: 0.5115 - accuracy: 0.7248length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  21/2342 [..............................] - ETA: 3:05 - loss: 0.5108 - accuracy: 0.7249length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  22/2342 [..............................] - ETA: 3:04 - loss: 0.5114 - accuracy: 0.7240length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  23/2342 [..............................] - ETA: 3:03 - loss: 0.5112 - accuracy: 0.7236length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  24/2342 [..............................] - ETA: 3:02 - loss: 0.5124 - accuracy: 0.7223length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  25/2342 [..............................] - ETA: 3:01 - loss: 0.5152 - accuracy: 0.7199length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  26/2342 [..............................] - ETA: 3:00 - loss: 0.5151 - accuracy: 0.7197length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  27/2342 [..............................] - ETA: 3:00 - loss: 0.5160 - accuracy: 0.7186length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  28/2342 [..............................] - ETA: 3:00 - loss: 0.5148 - accuracy: 0.7194length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  29/2342 [..............................] - ETA: 3:00 - loss: 0.5150 - accuracy: 0.7199length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  30/2342 [..............................] - ETA: 3:00 - loss: 0.5147 - accuracy: 0.7197length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  31/2342 [..............................] - ETA: 2:59 - loss: 0.5170 - accuracy: 0.7177length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  32/2342 [..............................] - ETA: 2:59 - loss: 0.5168 - accuracy: 0.7180length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  33/2342 [..............................] - ETA: 2:59 - loss: 0.5167 - accuracy: 0.7181length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  34/2342 [..............................] - ETA: 2:59 - loss: 0.5169 - accuracy: 0.7175length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  35/2342 [..............................] - ETA: 2:59 - loss: 0.5175 - accuracy: 0.7183length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  36/2342 [..............................] - ETA: 2:58 - loss: 0.5174 - accuracy: 0.7180length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  37/2342 [..............................] - ETA: 2:58 - loss: 0.5165 - accuracy: 0.7188length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  38/2342 [..............................] - ETA: 2:58 - loss: 0.5163 - accuracy: 0.7187length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  39/2342 [..............................] - ETA: 2:58 - loss: 0.5162 - accuracy: 0.7190length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  40/2342 [..............................] - ETA: 2:57 - loss: 0.5166 - accuracy: 0.7190length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  41/2342 [..............................] - ETA: 2:57 - loss: 0.5164 - accuracy: 0.7196length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  42/2342 [..............................] - ETA: 2:57 - loss: 0.5167 - accuracy: 0.7189length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  43/2342 [..............................] - ETA: 2:57 - loss: 0.5164 - accuracy: 0.7194length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  44/2342 [..............................] - ETA: 2:57 - loss: 0.5151 - accuracy: 0.7205length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  45/2342 [..............................] - ETA: 2:57 - loss: 0.5148 - accuracy: 0.7204length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  46/2342 [..............................] - ETA: 2:57 - loss: 0.5139 - accuracy: 0.7213length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  47/2342 [..............................] - ETA: 2:56 - loss: 0.5141 - accuracy: 0.7215length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  48/2342 [..............................] - ETA: 2:56 - loss: 0.5153 - accuracy: 0.7211length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  49/2342 [..............................] - ETA: 2:55 - loss: 0.5146 - accuracy: 0.7217length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  50/2342 [..............................] - ETA: 2:55 - loss: 0.5141 - accuracy: 0.7220length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  51/2342 [..............................] - ETA: 2:55 - loss: 0.5130 - accuracy: 0.7229length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  52/2342 [..............................] - ETA: 2:55 - loss: 0.5134 - accuracy: 0.7224length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  53/2342 [..............................] - ETA: 2:55 - loss: 0.5142 - accuracy: 0.7217length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  54/2342 [..............................] - ETA: 2:54 - loss: 0.5141 - accuracy: 0.7217length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  55/2342 [..............................] - ETA: 2:54 - loss: 0.5152 - accuracy: 0.7208length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  56/2342 [..............................] - ETA: 2:54 - loss: 0.5143 - accuracy: 0.7213length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  57/2342 [..............................] - ETA: 2:54 - loss: 0.5140 - accuracy: 0.7213length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  58/2342 [..............................] - ETA: 2:54 - loss: 0.5140 - accuracy: 0.7214length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  59/2342 [..............................] - ETA: 2:54 - loss: 0.5135 - accuracy: 0.7217length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  60/2342 [..............................] - ETA: 2:53 - loss: 0.5139 - accuracy: 0.7218length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  61/2342 [..............................] - ETA: 2:53 - loss: 0.5145 - accuracy: 0.7215length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  62/2342 [..............................] - ETA: 2:53 - loss: 0.5133 - accuracy: 0.7225length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  63/2342 [..............................] - ETA: 2:52 - loss: 0.5142 - accuracy: 0.7217length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  64/2342 [..............................] - ETA: 2:53 - loss: 0.5158 - accuracy: 0.7207length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  65/2342 [..............................] - ETA: 2:52 - loss: 0.5158 - accuracy: 0.7212length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  66/2342 [..............................] - ETA: 2:52 - loss: 0.5167 - accuracy: 0.7207length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  67/2342 [..............................] - ETA: 2:52 - loss: 0.5167 - accuracy: 0.7206length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  68/2342 [..............................] - ETA: 2:52 - loss: 0.5166 - accuracy: 0.7207length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  69/2342 [..............................] - ETA: 2:53 - loss: 0.5160 - accuracy: 0.7210length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  70/2342 [..............................] - ETA: 2:53 - loss: 0.5162 - accuracy: 0.7205length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  71/2342 [..............................] - ETA: 2:53 - loss: 0.5154 - accuracy: 0.7213length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  72/2342 [..............................] - ETA: 2:53 - loss: 0.5153 - accuracy: 0.7212length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  73/2342 [..............................] - ETA: 2:53 - loss: 0.5149 - accuracy: 0.7214length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453
  74/2342 [..............................] - ETA: 2:52 - loss: 0.5140 - accuracy: 0.7225length of self.ydata is 149893
num_class_0 is 21 whereas class_0_indices have length 453

KeyboardInterrupt:

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(history.history['loss'], label='Training Loss', color='b')
plt.plot(history.history['val_loss'], label='Validation Loss', color='r')
plt.title('Training and Validation Loss over Epochs')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()
plt.savefig("loss_GRU.png")
plt.show()

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(history.history['accuracy'], label='Training Accuracy', color='b')
plt.plot(history.history['val_accuracy'], label='Validation Accuracy', color='r')
plt.title('Training and Validation Accuracy over Epochs')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')
plt.legend()
plt.savefig("accuracy_GRU.png")
plt.show()

In [ ]:
xtt = np.vstack((xrtt,xatt))
ytt = np.vstack((yrtt,yatt))

In [ ]:
xtt = xrtt
ytt = yrtt

In [ ]:
clas = np.where((ytt != 0).any(axis=1) & (ytt != 1).any(axis=1))[0]

In [ ]:
def bf(y_data):
  class_0_indices = np.where((y_data == 0).all(axis=1))[0]
  print(f"Number of class_0 : {len(class_0_indices)}")
  class_1_indices = np.where((y_data == 1).all(axis=1))[0]
  print(f"Number of class_1 : {len(class_1_indices)}")
  mixed_class_indices = np.where((y_data != 0).any(axis=1) & (y_data != 1).any(axis=1))[0]
  print(f"Number of class_mixed : {len(mixed_class_indices)}")
  return min(len(class_0_indices),len(class_1_indices),len(mixed_class_indices))

m = bf(ytt)

In [ ]:
num_class_0 = m
num_class_1 = m
class_0_indices = np.where((ytt == 0).all(axis=1))[0]
batch_indices_0 = np.random.choice(class_0_indices, size=num_class_0, replace=False)
class_1_indices = np.where((ytt == 1).all(axis=1))[0]
batch_indices_1 = np.random.choice(class_1_indices, size=num_class_1, replace=False)
mixed_class_indices = np.where((ytt != 0).any(axis=1) & (ytt != 1).any(axis=1))[0]
num_mixed_samples = m
batch_indices_mixed = np.random.choice(mixed_class_indices, size=num_mixed_samples, replace=False)
batch_indices = np.concatenate((batch_indices_0, batch_indices_1, batch_indices_mixed))
np.random.shuffle(batch_indices)
xttm = xtt[batch_indices]
yttm = ytt[batch_indices]

In [ ]:
pred = model.predict(xttm)

In [ ]:
y_pred=[]
for sample in  pred:
  y_pred.append([1 if i>=0.5 else 0 for i in sample ] )
y_pred = np.array(y_pred)
y_pred

In [ ]:
np.unique(y_pred, return_counts= True, axis = 0
          )

In [ ]:
v_r = np.reshape(yttm, (yttm.shape[0], yttm.shape[1]))

In [ ]:
v_r.shape, y_pred.shape

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(v_r, y_pred)

In [ ]:
from sklearn.metrics import multilabel_confusion_matrix
multilabel_confusion_matrix(v_r, y_pred)

In [ ]:
from sklearn.metrics import classification_report

label_names = [f'label {i+1}' for i in range(y_pred.shape[-1]) ]

report_str = classification_report(v_r, y_pred,target_names=label_names)
print(report_str)

with open("classification_report_GRU_1.txt", "w") as report_file:
    report_file.write(report_str)

In [ ]:
print('no yes')

In [ ]:
pred = model.predict(xatt)

In [ ]:
y_pred=[]
for sample in  pred:
  y_pred.append([1 if i>=0.5 else 0 for i in sample ] )
y_pred = np.array(y_pred)
y_pred

In [ ]:
v_r = np.reshape(yatt, (yatt.shape[0], yatt.shape[1]))

In [ ]:
v_r.shape, y_pred.shape

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(v_r, y_pred)

In [ ]:
from sklearn.metrics import multilabel_confusion_matrix
multilabel_confusion_matrix(v_r, y_pred)

In [ ]:
from sklearn.metrics import classification_report

label_names = [f'label {i+1}' for i in range(y_pred.shape[-1]) ]
report_str = classification_report(v_r, y_pred,target_names=label_names)
print(report_str)

with open("classification_report_GRU_2.txt", "w") as report_file:
    report_file.write(report_str)

In [ ]:
print('yes')

## Saving the model

In [ ]:
tf.saved_model.save(model, 'gru')

In [ ]:
loaded_model = tf.saved_model.load('gru')

In [ ]:
loaded_model

In [ ]:
inference_func = loaded_model.signatures["serving_default"]

In [ ]:
import shutil
import os

folder_to_download = 'gru'

shutil.make_archive(folder_to_download, 'zip', folder_to_download)